name: Build STM32

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: platformio/action@v2
        with:
          args: run
      - uses: actions/upload-artifact@v3
        with:
          name: firmware
          path: .pio/build/genericSTM32F401RC/firmware.bin
